@charset "UTF-8";


* {
    margin: 0px;
    padding: 0px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: rgb(144, 68, 144);
    height: 60px;
    display: flex;
}

header > p {
    color: white;
    text-align: left;
}
header > a {
    text-align: right;
}