@charset "UTF-8";


* {
    margin: 0px;
    padding: 0px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: rgb(144, 68, 144);
    height: 60px;
    display: flex;
}

header > nav {
    display: flex;
    justify-content: space-between;
    
}

nav > .titulo {
    padding: 20px 1000px 10px 0px;
    white-space: nowrap;
    color: white;
    text-decoration: none;
}
nav  img {
    width: 30px;
    height: 30px;
    margin: 15px 5px 10px 170px;
    border-radius: 10px;
}

nav > .titulo:hover {
    text-decoration: underline;
}

nav > .login{
    color: white;
    padding: 15px 50px 10px 0px;
    text-decoration: none;
    white-space: nowrap;
}

nav > .login:hover {
    text-decoration: underline;
}
main {
    min-width: 300px;
}
main .principal {
    display: flex;
    gap: 600px;
}
main .principal h1 {
    padding: 40px 0px 0px 250px;
    font-weight: normal;
    justify-content: space-between;
}

main .principal img {
    width: 70px;
    height: 70px;
    margin: 40px 0px 0px 0px;
    border-radius: 50%;
}

main .paginas {
    text-align: center;
}
main .paginas a {
    text-decoration: none;
    color: purple;
}

main > .paginas {
    padding: 20px;
}
